@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;700&family=Roboto+Slab:wght@100;400;700&family=Roboto:wght@100;300;400;700;900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    line-height: 1.8;
}

body{
    max-width: 1500px;
    margin: 0 auto;
    background-color: #2185D5;
    color: #f3f3f3;
}

main, footer{
    position: relative;
    top: 60px;
    z-index: 0;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 40px;
    font-weight: 400;
}

h3{
    font-size: 24px;
    font-weight: 400;
}

h1,h2,h3{
    font-family: 'Mitr', sans-serif;
}

h4,h5,h6,a{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto Slab', serif;
}

/* HEADER SECTION */

header{
    background-color: #3a4750e8;
    top: 0;
    right: 0;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pfp{
    margin-left: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav{
    margin-right: 2.37rem;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin: 0 18px;
    list-style-type: none;
}

nav li a{
    color: #f3f3f3;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.938rem;
    white-space: nowrap;
    text-transform: uppercase;
}


@media only screen and (max-width: 768px){
    nav{
        overflow: scroll;
        overflow-y: hidden;
        margin: auto;
    }

    nav ul li{
        margin: 0 45px;
    }
}

/* BANNER SECTION */

#banner{
    text-align: center;
    padding: 7% 2%;
}

.banner-row-col-one, .banner-row-col-two{
    display: inline-block;
    vertical-align: middle;
}

.banner-row-col-one{
    width: 50%;
}

.banner-row-col-one img{
    width: 85%;
}

.banner-row-col-two{
    text-align: left;
    border: #A2DBFA solid 20px;
    padding: 32px;
    width: 40%;
    box-shadow: #3A4750 8px 8px 2px;
}

@media only screen and (max-width: 1142px){

    .banner-row-col-two{
        width: 38%;
    }

    h1{
        font-size: 42px;
    }

    h2{
        font-size: 32px;
    }
}

@media only screen and (max-width: 954px){

    .banner-row-col-two{
        text-align: center;
        width: 50%;
    }

    .banner-row-col-one{
        width: 75%;
    }

    h1{
        font-size: 48px;
    }

    h2{
        font-size: 38px;
    }
}

@media only screen and (max-width: 720px){

    .banner-row-col-two{
        width: 40%;
    }

    h1{
        font-size: 42px;
    }

    h2{
        font-size: 32px;
    }
}

/* ABOUT SECTION */

#about-me{
    background-color: #303841;
    text-align: center;
    padding: 7% 2%;
}

#about-me .row-one, .row-two{
    margin-bottom: 85px;
}

#about-me .row-three{
    margin-bottom: 30px;
}

.about-me-row-one-column-one{
    padding: 0 15%;
}

.about-me-row-one-column-one p{
    text-align: left;
}

.about-me-row-two-column-one, .about-me-row-two-column-two{
    display: inline-block;
    vertical-align: middle;
}

.about-me-row-two-column-one{
    width: 55%;
}

.about-me-row-two-column-two{
    width: 40%;
}

.profile-detail-row-one, .profile-detail-row-two, .profile-detail-row-three{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-detail-row-three{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.profile-detail-row-one-column-one, .profile-detail-row-two-column-one, .profile-detail-row-three-column-one{
    text-align: left;
}

.profile-detail-row-two-column-two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
}

.profile-detail-row-three-column-two, .profile-detail-row-three-column-three{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    padding: 2px;
    font-size: 18px;
}

.profile-detail-row-three-column-two{
    background-color: #0071CE;
    height: 32px;
}

.profile-detail-row-three-column-two h4::after{
    content: url(file:///C:/Users/irbro/Desktop/Projects/personal-website/resources/images/walmart-spark.png);
    position: relative;
    zoom: 4%;
    top: 100px;
    left: 160px;
    font-size: 24px;
}

.profile-detail-row-three-column-three{
    background-color: #FF5858;
}

.skills-icon{
    font-size: 30px;
}

.my-interest{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    padding: 20px 80px;
}

.my-interest > *{
    background-color: #3A4750;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
}

 .cv-download-button{
    padding: 0.8rem;
    color: #F3F3F3;
    border: 2px solid #F3F3F3;
    text-decoration: none;
    transition: all 0.3s ease;
}

.cv-download-button:hover{
    background-color: #2185D5;
    border-color: #303841;
}

@media only screen and (max-width: 1308px){
    .about-me-row-two-column-one{
        width: 58%;
    }

    .about-me-row-two-column-two{
        width: 40%;
    }
}

@media only screen and (max-width: 1230px){

    .about-me-row-one-column-one p{
        text-align: center;
    }

    .about-me-row-two-column-one{
        width: 65%;
    }

    .about-me-row-two-column-two{
        width: 50%;
    }
}

@media only screen and (max-width: 1024px){
    .about-me-row-two-column-one{
        width: 80%;
    }
}

@media only screen and (max-width: 790px){

    .about-me-row-two-column-one{
        width: 95%;
    }
}

@media only screen and (max-width: 655px){
     .profile-detail-row-three-column-three{
        font-size: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .profile-detail-row-three-column-three{
        font-size: 14px;
    }
}

@media only screen and (max-width: 526px) {
    .profile-detail-row-three-column-three{
        font-size: 12px;
    }

    .profile-detail-row-three-column-two{
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .my-interest{
        grid-template-columns: 1fr 1fr;
    }

    .profile-detail-row-three-column-two{
        width: 110%;
        font-size: 14px;
    }

    .profile-detail-row-three-column-two h4::after{
        zoom: 3%
    }

    .profile-detail-row-three-column-three{
        font-size: 12px;
        width: 130%;
    }
}


/* TALENT SECTION */

#talents{
    text-align: center;
    background-color: #3A4750;
    color: #f3f3f3;
    padding: 4rem 0;
}

#talents h2{
    margin-bottom: 6rem;
}

.talent-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

 .talent-paragraph{
    width: 23.7rem;
    padding: 4rem;
    background-color: #303841;
 }

 .talent-dial-container{
    width: 35.7rem;
 }

 .talent-dial-item{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    text-align: left;
 }

 .talent-dial-item img{
    width: 22%;
    float: left;
    margin-left: 12rem;
 }

 /* PROJECT SHOWCASE */
 #projects{
    padding: 4rem 0;
    background-color: #303841;
    color: #f3f3f3;
    text-align: center;
}

#projects h2{
    margin-bottom: 6rem;
}

.project-showcase-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-showcase-container a{
    width: 25%;
    margin: 1rem;
    transition: 0.5s;
}

.project-showcase-container a:hover{
    width: 30%;
}

.project-showcase-container a img{
    width: 100%;
}

/* CONTACT ME SECTION */

#contact-me{
    padding: 4rem 4rem 2rem 4rem;
    background-color: #3A4750;
    color: #F3F3F3;
    text-align: center;
}

#contact-me h2{
    margin-bottom: 6rem;
}

.contact-me-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact-me-container a{
    color: #F3F3F3;
    text-decoration: none;
    margin-bottom: 8rem;
}

.contact-me-item{
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.contact-me-item:hover{
    transform: scale(1.2);
}


.contact-me-item .contact-me-icon{
    font-size: 4rem;
    padding: 3rem;
    border-radius: 50%;
    background-color: #2185D5;
    margin-bottom: 1.5rem;
}

/* FOOTER SECTION */

footer{
    background-color: #205375;
    color: #f3f3f3;
    padding: 2% 0;
    text-align: center;
}

.footer-social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.social-item{
    margin: 25px 100px;
    width: 150px;
    color: #FDFCE5;
    text-decoration: inherit;
    transition-duration: 0.5s;
}

.social-item:hover{
    transform: scale(1.3);
}

.social-item h4{
    font-weight: 300;
}

.footer-social-icon{
    float: left;
    font-size: 24px;
}

hr{
    width: 45%;
    margin: 2rem auto;
}