@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;700&family=Roboto+Slab:wght@100;400;700&family=Roboto:wght@100;300;400;700;900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    line-height: 1.8;
}

main, footer{
    position: relative;
    top: 60px;
}

h1{
    font-size: 4.2rem;
}

h2{
    font-size: 2.5rem;
    font-weight: 400;
}

h3{
    font-size: 1.5rem;
    font-weight: 400;
}

h1,h2,h3{
    font-family: 'Mitr', sans-serif;
}

h4,h5,h6,a{
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto Slab', serif;
}

/* HEADER SECTION */

header{
    background-color: #3a4750e8;
    top: 0;
    right: 0;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pfp{
    margin-left: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav{
    margin-right: 2.37rem;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin: 0 18px;
    list-style-type: none;
}

nav li a{
    color: #f3f3f3;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.938rem;
    white-space: nowrap;
    text-transform: uppercase;
}


@media only screen and (max-width: 768px){
    nav{
        overflow: scroll;
        margin: auto;
    }

    nav ul li{
        margin: 0 45px;
    }
}

/* BANNER SECTION */

#banner{
    background-color: #2185D5;
    color: #f3f3f3;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 2rem;
}

.banner-image{
    width: 85%;
}

.banner-text{
    margin-bottom: 4rem;
    text-align: right;
}

@media only screen and (max-width: 1240px){
    .banner-text{
        text-align: center;
    }
}

/* ABOUT SECTION */

#about-me{
    background-color: #303841;
    color: #f3f3f3;
    text-align: center;
    padding: 4rem 0;
}

#about-me p{
    text-align: start;
    margin: 0 auto;
    width: 50%;
}

.profile-detail-interest-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 6em 0;
}

table{
    border-collapse: separate;
    border-spacing: 3.5rem 2.5rem;
}

.profile-detail-content table tbody th, td{
    font-family: "Roboto", sans-serif;
    padding: 0.3rem 1.5rem;
}

.profile-detail-content table tbody th{
    color: #34B3F1;
    text-align: start;
}

.profile-detail-content .skills-container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.profile-detail-header{
    margin-right: 16rem;
}

.profile-detail-content .skills-container *{
    font-size: 2rem;
    padding: 0.5rem;
}

.profile-detail-content table tbody .walmart-box{
    background-color: #0071CE;
    color: #f3f3f3;
    padding: 0.4rem 1.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-detail-content table tbody .walmart-box img{
    width: 18px;
    height: 17px;
    position: relative;
    top: 0.1rem;
    left: 0.5rem;
}


.profile-detail-content table tbody .searching-box::before{
    content: "+";
    position: relative;
    right: 3.55rem;
}

.profile-detail-content table tbody .searching-box{
    background-color: #FF884B;
    color: #f3f3f3;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.my-interest-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.my-interest-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    margin-top: 1.4rem;
}

.my-interest-item{
    background-color: #3A4750;
    height: 6rem;
    width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.613rem;
}

.my-interest-item-title{
    margin-top: 0.4rem;
}

 .cv-download-button{
    padding: 0.8rem;
    color: #F3F3F3;
    border: 2px solid #F3F3F3;
    text-decoration: none;
    transition: all 0.3s ease;
}

.cv-download-button:hover{
    background-color: #2185D5;
    border-color: #303841;
}